li {
	vertical-align: text-top;
	float: left;
	height: 20px;
	width: 120px;
	border: thin solid #000;
	margin-top: 5px;
	margin-right: 66px;
	margin-bottom: 5px;
	margin-left: 66px;
	list-style-type: none;
	list-style-image: none;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	text-align: center;
	background-color: #F2E9D8;
}
.navigation {
	background-color: #F2E9D8;
}

h1 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 50px;
	font-style: italic;
	font-weight: bolder;
	text-align: center;
	background-color: #F2E9D8;
	float: none;
	width: 500px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.wrapper {
	background-color: #F2E9D8;
}

body {
	background-image: url(images/Map%20of%20Europe%201905.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
